/* Basic */

video,
#wrapper,
body:after {
    display: none !important;
}


/* Warning */

#greeting::before {
    content: 'Enable JavaScript to continue.' !important;
    opacity: 0.9 !important;
}